/* Character */
a.profile svg { 
    color: #32c3f9 !important;
}
a.inventory svg { 
    color: #ff970d !important;
}
#section-character li:nth-child(3) button svg { 
    color: #ea4335 !important;
}

/* Skills */
a.woodcutting svg { 
    color: #55c255 !important;
}

a.mining svg {
    color: #c2833c !important;
}

a.fishing svg {
    color:#799edc !important;
}

a.alchemy svg {
    color: #994d99 !important;
}

a.smelting svg {
     color: #ad4b4b !important;
}

a.cooking svg {
    color:#c1862d !important;
}

a.forge svg {
    color: #29b294 !important;
}

a.meditation svg {
    color:#d675a8 !important;
}

a.construction svg {
    color:#c2521b !important;
}


/* Play */

a.pets svg {
    color:#fc7f30 !important;
}

a.museum svg {
    color:#ffffff !important
}

a.quests svg {
    color:#00e0ff !important
}

a.guilds svg {
    color:#65c265 !important;
}

a.leagues svg {
    color: #ffff00 !important;
}


/* Combat */
a.battle svg {
    color:#e93636 !important;
}
a.dungeon svg {
    color:#e78b25 !important;
}
a.world-boss svg {
    color:#3de443 !important;
}


/* Trade */
a.merchants svg {
    color:#6ab7ec !important;
}

#section-trade li:nth-child(2) a svg {
    color:#e7d325 !important;
}



